.places {
  max-width: 984px;
  margin: auto;
  overflow: hidden;
  padding: 0 48px;
}


@media screen and (max-width: 1023px) {
  .places {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 0 16px;
  }
}

@media screen and (max-width: 560px) {
  .places {
    margin: 0;
    padding: 0;
  }
}

