.place__url-heading {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #aaa;
}

.place__url-heading[title] {
  text-decoration: none;
  border-bottom: none;
}


@media screen and (max-width: 1023px) {
  .place__url-heading {
    line-height: 21px;
  }
}

@media screen and (max-width: 560px) {
  .place__url-heading {
    line-height: 12px;
  }
}
