.place__url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
}


/* @media screen and (max-width: 767px) {
  .place__url-heading {
    visibility: hidden;
  }
} */
