/* .place__website {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 80px 0;
  width: 456px;

} */

.place__website {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-self: flex-end;
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 456px;

}


@media screen and (max-width: 1023px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    position: absolute;
  }
}
